global
    maxconn 4096
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend pgsql
    bind *:5432
    default_backend pg_slaves

backend pg_slaves
    balance roundrobin
    option  pgsql-check user postgres
    server slave1 pg-slave1:5432 check
    server slave2 pg-slave2:5432 check
